body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 50px 0;

    border: 0;
    background-color: #e5e5e5;
}


/* Container */
.container { 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    width: 100%;

    background: url('/images/background-intro.jpg') center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: auto;
    text-align: center;
}

.intro__title {
    font-size: 150px;
    color: #fff;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;

    background-color: #fff;
    margin: 50px auto;
}

.intro__suptitle {
    margin-bottom: 15px;
    font-size: 72px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
}


/* Header */
.header {
    width: 100%;
    padding-top: 15px;

    position: absolute;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header__logo {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}


/* Nav */
.nav {
    font-size: 14px;
    text-transform: uppercase;

}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 25px;
    position: relative; 

    color: #fff;
    text-decoration: none;

    transition: color 0.1s linear;
}

.nav__link:hover {
    color: #FCE38A;
}

.nav__link:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;

    background-color: #FCE38A;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.1s linear;

}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #FCE38A;
}


/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 22px;
    
    border: 3px solid white;

    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    
    transition: background-color 0.1s linear, color 0.2s linear;
}

.btn:hover {
    background-color: #fff;
    color: #FCE38A;
}


/* Slider */
.slider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    width: 23%;
    padding: 20px 0;
    opacity: 0.7;
    position: relative; 

    border-top: 3px solid #fff;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.slider__item.active {
    opacity: 1;
}

.slider__item.active:before {
    content: '';
    display: block;
    width: 70px;
    height: 3px;

    background-color: #F38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;

}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}


/* Section */
.section {
    padding: 80px 0;
}

.section--devices {
    background: url('/images/devices/bg-image.jpg') center no-repeat;
    background-size: cover;
    padding-bottom: 0;
}

.section--gray {
    background-color: #f8f8f8;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;

    text-align: center;
}

.section__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto 40px;

    background-color: #F38181;
}

.section__text {
    font-size:15px;
    color: #999;
}


/* About */
.card {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.card__item {
    width: 380px;
}

.card__inner:hover .card__img {
    transform: translate3d(-10px, -10px, 0);
}

.card__inner:hover .card__img img {
    opacity: 0.3;

}

.card__inner:hover .card__text {
    opacity: 1;
}

.card__inner {
    position: relative;
    background-color: #95E1D3;
}

.card__img {
    background: linear-gradient(to bottom, #F38181, #FBE389);
    transition: transform 0.2s linear;
}

.card__img img {
    display: block;
    transition: opacity 0.1s linear;
}

.card__text {
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top:50%;
    left: 0;
    z-index: 2; 
    transform: translateY(-50%);
    transition: opacity 0.1s linear;
}

.card__info {
    margin-top:20px;
    text-align: center;
}

.card__name {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

.card__prof {
    color: #999;
    font-style: italic;
    text-transform: capitalize;
    font-size: 13;
}

/* Statistics */
.statistics {
    background-color: #95E1D3;
}

.stat {
    display: flex;
}

.stat__item {
    flex: 1 1 0;
    padding: 70px 25px;

    border-left: 1px solid #b5eae0;

    text-align: center; 
    color: #fff;
}

.stat__item:last-child {
    border-right: 1px solid #b5eae0;
}

.stat__count {
    font-size: 72px;
    font-weight: 600;
}

.stat__text {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
}


/* Services */
.services {
    display: flex;
}

.services__item {
    flex: 1 1 0;
    padding-left: 85px;
    padding-right: 28px;
    position: relative;
}

.services__icon {
    position: absolute;
    width: 35px;
    top:0;
    left: 0;
    z-index: 1;
}

.services__title {
    margin-bottom: 10px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.services__text {
    font-size: 14px;
    color: #999;
}


/* Devices */
.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices__item {
    display: block;
}

.devices__item--iphone {
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;
}


/* What we do */
.whatwedo {
    display: flex;
}

.whatwedo__item {
    width: 50%;
}


/* Accordion */
.accordion__item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.accordion__item.active 
.accordion__content {
    display: block;
}

.accordion__item.active
.accordion__header {
    border-bottom: 1px solid #e5e5e5;
}

.accordion__item.active
.accordion__header:after {
    margin-top: 5px;

    transform: translateY(-50%)
    rotate(-45deg);
}

.accordion__header {
    padding: 15px 20px 15px 65px;
    position: relative;
}

.accordion__header:after {
    content: "";
    display: block;
    height: 16px;
    width: 16px;

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%)
    rotate(135deg);
}

.accordion__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;

    transform: translateY(-50%);
}

.accordion__title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

.accordion__content {
    padding: 10px 20px;
    display: none;
}

.accordion__text {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
    color: #999;
}

/* Feedback */
.feedback {
    padding: 0 110px;
    position: relative;
}

.feedback__item {
    padding-left: 205px;
    position: relative;
}

.feedback__icon {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.feedback__text {
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 15px;

    color: #999;
}

.feedback__author {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
}

.feedback__author:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;

    background-color: #F38181;
}

.feedback__btn {
    font-size: 0;
    color: transparent;

    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.feedback__btn:after {
    content: "";
    display: block;
    height: 16px;
    width: 16px;

    border-left: 2px solid #ccc;
    border-top: 2px solid #ccc;
}

.feedback__btn--prev {
    left: 0;
    transform: rotate(-45deg);
}

.feedback__btn--next {
    right: 0;
    transform: rotate(135deg);
}


/* Team */
.social {
    display: flex;
    justify-content: center;
}

.social__item {
    width: 55px;
    height: 55px;
    padding: 12px 10px;
    background-color: #fce38a;
    border-right: 1px solid #f38181;

    font-size: 30px;
    text-decoration: none;
    color: #f38181;
    line-height: 1;

    transition: background .2s linear, color .2s linear;
}

.social__item:last-child {
    border-right: none;
}

.social__item:hover {
    color: white;
    background-color:  #f38181;
}

/* Logos */
.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* Work */
.work {
    padding-top: 100px;
}

.work__inner {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    padding-top: 50px;
}

.work__col {
    flex: 1 1 0;
}

.work__item {
    position: relative;
}

.work__img {
    width: 100%;
    vertical-align: middle;
}

.work__overlay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top:0;
    left: 0;
    z-index: 9999;

    opacity: 0;
    transition: opacity .2s linear;
    text-align: center;
}

.work__overlay:hover {
    background: linear-gradient(to bottom, #F38181, #FBE389);
    opacity: .9;
}

.work__icon {
    width: 30px;
    margin: 0 auto 15px;
}

.work__title {
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}

.work__text {
    margin: 0 0 20px;
    font-size: 13px;
    color: #fff;
}


/* Testimonial */
.testimonial {
    padding: 110px 0;
}

.testimonial__image {
    vertical-align: middle;
    height: 100%;
}


/* What people say */
.whatpeoplesay {
    padding: 100px 0 60px 0;
    background: url('./images/whatpeoplesay/1.jpg') center no-repeat / cover;
}

.people {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.people__item {
    max-width: 510px;
    width: 50%;
    display: flex;
    margin: 30px 50px 70px 40px;
}

.people__img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

.people__text {
    margin-left: 30px;
    color: #333;
}

.people__name {
    text-transform: uppercase;
}

.people__title {
    font-size: 13px;
    font-weight: 600;
}

.people__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 20px 0 20px;

    background-color: #F38181;
}

.people__description {
    font-size: 14px;
    color: #999;
}


/* Blog */
.blog {
    padding: 100px 0;
}

.blog__inner {
    display: flex;
    justify-content: space-between;

}

.blog__item {
    position: relative;
    width: 33.3333%;
    max-width: 380px;
}

.blog__img {
    vertical-align: middle;
}

.blog__text {
    padding: 15px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #E5E5E5;
}

.blog__title {
    margin-bottom: 10px;
    font-weight: 300;
    text-transform: uppercase;
    color: #333;
}

.blog__description {
    font-size: 14px;
    color: #999;
}

.blog__views {
    margin-right: 15px;
}

.blog__info, .blog__views, .blog__comments {
    display: flex;
    align-items: center;
    align-content: center;
    color: #999;
}

.comments__icon, .views__icon {
    vertical-align: middle;
    margin-right: 7px;
}

.blog__date {
    width: 60px;
    height: 70px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    left: -10px;
    top:160px;

    background-color: #95E1D3;
    color: #fff;
}

.date__day {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.1;
}


/* Map */
.map {
    padding: 50px 0;
    text-align: center;
    background: url('./images/map/1.jpg') center no-repeat / cover;
}

.map__text {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: #F38181;
}

.map__text:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 10px auto 10px;

    background-color: #F38181;
}


/* Footer */
.footer__inner {
    padding: 70px 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
}

/* Subscribe */
.footer__subscribe {
    max-width: 460px;
    width: 40%;
}

.subscribe__paragraph {
    margin: 0;
}

.footer__logo {
    margin-bottom: 35px;
    font-size: 45px;
    font-weight: bold;
    line-height: 1;
    color: #ccc;
}

.subscribe__text {
    font-size: 13px;
    line-height: 1.7;
    color: #999;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 7px;
}

.subscribe__follow {
    margin-top: 12px;
    margin-bottom: 35px;
}

.follow__cta {
    font-size: 14px;
    color: #999;
}

.follow__icon {
    margin-left: 15px;
}

.subscribe__form {
    max-width: 380px;
    width: 100%;
    display: flex;
}

.subscribe__email {
    padding: 8px;
    width: 60%;
    font-size: 14px;
    font-weight: 300;
    color: #ccc;
    border: 1px solid #e5e5e5;
    border-right: none;
}

.subscribe__button {
    width: 40%;
    padding: 8px;
    display: inline-block;

    text-align: center;
    background-color: #95E1D3;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}


/* Blogposts */
.footer__blogposts {
    max-width: 330px;
    width: 30%;
}

.blogposts__title {
    margin-bottom: 35px;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
}

.blogpost {
    display: flex;
    margin-bottom: 30px;
}

.blogpost__img {
    max-width: 120px;
    max-height: 80px;
    margin-right: 20px;
    vertical-align: middle;
}

.blogpost__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blogpost__text {
    margin: 0 0 6px;
    font-size: 11px;
    text-transform: uppercase;
    color: #333;
}

.blogpost__date {
    font-size: 11px;
    color: #999;
}


/* Instagram */
.instagram__title {
    margin-bottom: 35px;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
}

.footer__instagram {
    width: 25%;
    max-width: 274px;
}

.instagram__pictures {
    display: flex;
    flex-wrap: wrap;
}

.instragram__img {
    padding: 1px;
    width: 88px;
    height: 88px;
    vertical-align: middle;
}

.instagram__more {
    font-size: 13px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}

/* Footer bottom */
.footer__bottom {
    text-align: center;
    padding: 20px;
}

.bottom__text {
    font-size: 14px;
    color: #333;
}

.author {
    color: #F38181;
}